body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:100px;
  width:1100px;
  height:3623px;
}
#u0_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:3623px;
  overflow:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:51px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:50px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:20px;
  width:110px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:20px;
  width:110px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:20px;
  width:110px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img.selected {
}
#u6.selected {
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:20px;
  width:110px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:20px;
  width:110px;
  height:30px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:65px;
  width:10px;
  height:10px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:65px;
  width:10px;
  height:10px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
